$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container-fluid {
  padding: 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5em;
    padding-bottom: 0px;
  }
}

/* Custom page footer */
#footer {
  height: 30px;
}

#page-wrap {
  min-height: 100%;
  height: auto;
  margin: 0px auto -30px;
}

.chat-footer {
  height: 60px;
}

.tab-content {
  min-height: 100%;
  height: auto;
  margin: 0px auto -60px;

}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* Remove the padding we set earlier */
  /* Space out the masthead */
  .header {
    margin-top: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.snap-content {
  background-color: white;
  box-shadow: 0px 0px 6px #888888;
}

.panel-group .panel {
  border-radius: 0px;
}

.panel-body {
  padding: 0px;
}

.user-container {
  padding: 6px;
}

.contact {
  box-sizing: border-box;
  padding: 6px;
  border-bottom: 1px solid #dddddd;
}