@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';
@import '../assets/themes/yeti-variables.less';
@import '../assets/themes/yeti-bootswatch.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

@media (max-width: @screen-sm-min) {
  .xs-hide {
    display: none;
  }
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.container-fluid {
  padding: 0;
}

.snap-content {
  background-color: white;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

.panel-body {
  padding: 0px;
}

// injector
@import 'chat/chat.less';
@import 'contact/contact.less';
@import 'main/main.less';
@import 'option/option.less';
@import 'user/user.less';
// endinjector