<accordion-group is-open="accordion.open">
  <accordion-heading>
    <div class="panel-heading-inner">
      <i class="pull-left fa fa-fw"
         ng-class="{'fa-chevron-down': accordion.open, 'fa-chevron-right': !accordion.open}"></i>
      Contacts
    </div>
  </accordion-heading>
  <ul class="contact-list list-group">
    <li class="contact list-group-item">
      <div class="row">
        <div class="form-group">
          <div class="col-xs-9">
            <input type="text" class="form-control" placeholder="Contact ID" ng-model="newContactID">
          </div>
          <div class="col-xs-3">
            <button type="submit" class="btn btn-success btn-block" ng-click="invite(newContactID)">
              <i class="fa fa-plus fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="contact list-group-item" ng-repeat="contact in contacts" ng-click="open(contact.conversation)">
      <div class="row">
        <div ng-class="{'col-xs-6': (contact.status === 'invited' || contact.status === 'invite'), 'col-xs-9': !(contact.status === 'invited' || contact.status=== 'invite')}">
          <div>
            <i class="status-indicator fa fa-square fa-fw"
               ng-class="{'status-online': contact.status === 'online', 'status-offline': contact.status === 'offline'}"></i>
            <span class="contact-name">{{contact.name}}</span>
          </div>
          <div ng-hide="contact.status === 'invited' || contact.status === 'invite'">
            Last update: {{contact.lastUpdate | unixToTimeAgo}}
          </div>
        </div>
        <div class="col-xs-3" ng-show="contact.status === 'invited' || contact.status === 'invite'">
          <button type="button" class="btn btn-success btn-block" ng-click="acceptInvite(contact)">
            <i class="fa fa-check fa-fw"></i>
          </button>
        </div>
        <div class="col-xs-3" ng-show="contact.status === 'invited' || contact.status === 'invite'">
          <button type="button" class="btn btn-danger btn-block" ng-click="rejectInvite(contact)">
            <i class="fa fa-times fa-fw"></i>
          </button>
        </div>
        <div class="col-xs-3" ng-hide="contact.status === 'invited' || contact.status === 'invite'">
          <button type="button" class="btn btn-primary btn-block">
            <i class="fa fa-info fa-fw"></i>
          </button>
        </div>
      </div>
    </li>
  </ul>

</accordion-group>
