.contact {
  color: @link-color;
  cursor: pointer;
  box-sizing: border-box;
  padding: 12px;
  border-bottom: 1px solid @state-info-border;
  &:hover {
    color: @link-hover-color;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
    text-decoration: underline;
  }
}