.contact-list {
  margin-bottom: 0;
  .contact {
    color: @link-color;
    cursor: pointer;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid @state-info-border;
    &:hover {
      color: @link-hover-color;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
      background-color: @panel-footer-bg;
      .contact-name {
        text-decoration: underline;
      }
    }
    .status-indicator {
      &.status-online {
        color: @brand-success;
      }
      &.status-offline {
        color: @brand-danger;
      }
    }
    .contact-text {
      display: inline-block;
      vertical-align: middle;
      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }

  }
}