<accordion-group is-open="accordion.open">

    <accordion-heading>
      <div class="panel-heading-inner">
        <i class="fa fa-fw" ng-class="accordion.open ? 'fa-chevron-down' : 'fa-chevron-right'"></i>{{user.name}}
      </div>
    </accordion-heading>

    <form name="user_form" class="form-horizontal" role="form" novalidate>
      <div class="user-container">
        <div class="form-group">
          <label class="col-xs-4 control-label" for="id">User ID</label>
          <div class="col-xs-8">
            <input type="text" class="form-control" id="id" ng-model="user.id" placeholder="To Be Generated" readonly ng-click-select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-4 control-label" for="name">Name</label>
          <div class="col-xs-8">
            <input name="name" id="name" type="text" class="form-control" placeholder="Name" ng-model="user.name" required>
          </div>
        </div>
        <div class="form-group" ng-if="!user.keypair">
          <label class="col-xs-4 control-label" for="password">Password</label>
          <div class="col-xs-8">
            <input name="password" id="password" type="password" class="form-control" placeholder="Password" ng-model="signupForm.password" required>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="form-group">
          <div class="col-xs-6">
            <button type="button" class="btn btn-danger btn-block" ng-click="deleteUser()" ng-if="user.keypair">Delete User</button>
          </div>
          <div class="col-xs-6" ng-if="!user.keypair">
            <button type="submit" class="btn btn-primary btn-block" ng-click="createUser()" ng-disabled="user_form.$invalid">Create User</button>
          </div>
          <div class="col-xs-6" ng-if="user.keypair">
            <button type="submit" class="btn btn-primary btn-block" ng-click="updateUser()" ng-disabled="user_form.$invalid">Update</button>
          </div>
        </div>
      </div>
    </form>
</accordion-group>