<div id="chat-view">
  <tabset>
    <tab active="home.isActive">
      <tab-heading>
        <i class="fa fa-home fa-fw"></i>
      </tab-heading>
      <div id="chat-home">
        Home Screen
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
        <div>Home Screen</div>
      </div>

      <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
          <div class="navbar-brand text-center">By uWaterloo ECE Group 10: Asif Arman, Danny Yan, Lewis Liu, SangHoon Lee</div>
        </div>
      </div>
    </tab>
    <tab ng-repeat="contact in contacts" ng-show="contact.conversation.isOpen" active="contact.conversation.isActive">
      <tab-heading>
        <i class="fa fa-comment fa-fw" ng-show="contact.conversation.hasUnread"></i> {{contact.name}}
        <a href="#" ng-click="close(contact.conversation)"><i class="fa fa-times fa-fw"></i></a>
      </tab-heading>
      <div id="chat-{{contact.name}}" ng-show="contact.conversation.isOpen">
        <div class="chat-wrap">
          <div ng-repeat="message in contact.conversation.messages">
            {{message.from | idToName : true}} said <span am-time-ago="message.time" am-preproccess="unix"></span> : {{message.message}}
          </div>
        </div>
        <div class="navbar navbar-default navbar-fixed-bottom navbar-send" cg-busy="contact.conversation.sendingPromise">
          <div class="container-fluid">
            <form class="navbar-form" role="form">
              <div class="row">
                <div class="form-group">
                  <div class="col-xs-10">
                    <input type="text" class="form-control" placeholder="Message to {{contact.name}}..." ng-model="contact.conversation.currentMessage">
                  </div>
                  <div class="col-xs-2">
                    <button type="submit" class="btn btn-success btn-block" ng-click="send(contact)">
                      <i class="fa fa-send fa-fw"></i>
                      <span class="xs-hide">Send</span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>