<div id="chat-view">
  <tabset>
    <tab ng-repeat="contact in contacts" ng-show="contact.conversation.isOpen" active="contact.conversation.isActive">
      <tab-heading>
        <i class="fa fa-comment fa-fw" ng-show="contact.conversation.hasUnread"></i> {{contact.name}}
        <a href="#" ng-click="contact.conversation.close()"><i class="fa fa-times fa-fw"></i></a>
      </tab-heading>
      <div id="chat-{{contact.name}}" class="tab-content" ng-show="contact.conversation.isOpen">
        <div class="chat-wrap">
          <div ng-repeat="message in contact.conversation.messages">
            {{message.senderId | idToName}} said: {{message.content}}
          </div>
        </div>
      </div>
      <div class="footer" ng-show="contact.conversation.isOpen">
        <form class="form-horizontal" role="form" cg-busy="contact.conversation.sendingPromise">
          <div class="form-group">
            <div class="col-xs-10">
              <input type="text" class="form-control" ng-model="contact.conversation.currentMessage">
            </div>
            <div class="col-xs-2">
              <button type="submit" class="btn btn-success btn-block" ng-click="send(contact)">Send</button>
            </div>
          </div>
        </form>
      </div>
    </tab>
  </tabset>
</div>