#chat-view {
  margin-top: @navbar-height + 12px;
  margin-bottom: @navbar-height + 12px;
}

.navbar-send {
  .form-group {
    width: 100%;
    .form-control {
      width: 100%;
    }
  }
}

.navbar-form {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  box-shadow: none;
}

.nav-tabs li {
  cursor: pointer;
}